/* Pre Loader */
div.no {
    opacity: 0;
    visibility: hidden;
    height: 0;
/*    z-index: -1;*/
}
div.preloader {
    margin-top: .3vh;
    margin-bottom: 0;
    transition: all 2s;
/*    top: 0px;*/
/*    position: fixed;*/
    z-index: 4;
/*    width: 100vw;*/
/*    height: 100vh;*/
    text-align: center;
/*    background-color: rgba(0, 0, 0, 0.3);*/
    color: #fff;
    font-family: monospace;
    font-size: 190%;
    text-transform: uppercase;
}
section.loader {
    display: inline-block;
    transform: rotate(45deg);
    transition: transform 2s;
    transition-timing-function: ease-in-out;
/*    margin-top: 50vh;*/
    margin-left: 0;
    padding: 0;
    line-height: 0px;
}
section.loader > div.br {
    margin: 0;
    margin-bottom: 0;
}
section.loader > div.first{
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 5vh 0px 0 0;
    background: rgba(249, 8, 33, 0.9);
    margin: 0;
    margin-bottom: 0;
    padding:0;
    display: inline-block;
    box-shadow: 0 0 20px #000;
    border: solid 1px white;
}
section.loader > div.second{
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 0px 0px 3vh 0px;
    background: rgba(0, 104, 209, 0.98);
    display: inline-block;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 20px #000;
    border: solid 1px white;
}
section.loader > div.none {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    height:1.5vh;
    width:1.5vh;
    display: inline-block;
}